<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
      {% if site.social.instagram %}      
      <a class="particles-icon" href="https://www.instagram.com/pinkvoid305/">{% include svg/instagram.svg %}</a>
      {% endif %}
      {% if site.social.linkedin %}
      <a class="particles-icon" href="https://www.linkedin.com/in/subhadeep-koley-70251b1bb/">{% include svg/linkedin.svg %}</a>
      {% endif %}
      {% if site.social.github %}
      <a class="particles-icon" href="https://github.com/wickedticket">{% include svg/github.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="https://docs.google.com/document/d/1R4gfbGRg_DPmfEXfYtnhAesv7193RAoXcedgzMwPltI/preview">{% include svg/cv-circled.svg %}</a>
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
